<!-- Page content -->
<div style=background-color:#FAEBD7;>
<section class="container pt-5" style="background-image: url(<%= asset_path('enviroment/background.jpg') %>);background-size: cover; background-position: center;">
    <div class="row">
        <!-- Sidebar (User info + Account menu) -->
        <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5 white-background">
        <div class="position-sticky top-0">
            <div class="text-center pt-5">
                <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
                    <h2 class="h1 mb-1"><%= @user.username %></h2>
                </div>
                <button type="button" class="btn btn-secondary w-70 d-md-none mt-n2 mb-3" data-bs-toggle="collapse" data-bs-target="#account-menu">
                    <i class="bx bxs-user-detail fs-xl me-2"></i>
                    メニュー
                    <i class="bx bx-chevron-down fs-lg ms-1"></i>
                </button>
                <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
                    <%= link_to user_path(current_user), class: "list-group-item list-group-item-action d-flex align-items-center" do %>
                    <i class="bx bx-collection fs-xl opacity-60 me-2"></i>
                    自分の依頼書
                    <% end %>
                    <%= link_to favorites_user_path, class: "list-group-item list-group-item-action d-flex align-items-center active" do %>
                    <i class="bx bx-collection fs-xl opacity-60 me-2"></i>
                    お気に入りの依頼書
                    <% end %>
                    <%= link_to users_path, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
                    <i class="bx bx-collection fs-xl opacity-60 me-2"></i>
                    懸賞金の獲得ランキング
                    <% end %>
                    <%= link_to destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
                    <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                    ログアウト
                    <% end %>
                </div>
                <h4 class="h5 mb-1">獲得した懸賞金</h4>
                <h6 class="h7 mb-4">$ <%= @user.money %></h6>
            </div>
        </div>
        </aside>

        <!-- Account collections -->
        <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
            <div class="ps-md-3 ps-lg-0 mt-md-2 pt-md-4 pb-md-2">
                <% breadcrumb :user_favorite, @user %>
                <%= breadcrumbs separator: " > " %>
                <div class="d-sm-flex align-items-center justify-content-between pt-xl-1 mb-3 pb-3">
                <h1 class="h2 mb-sm-0">My Collections</h1>
                <select class="form-select" style="max-width: 15rem;">
                    <option value="Published">Published</option>
                    <option value="Category">Category</option>
                    <option value="Title AZ">Title AZ</option>
                    <option value="Title ZA">Title ZA</option>
                </select>
                </div>

                <!-- Item -->
                <% @favorite_posts.each do |f| %>
                    <div class="card border-0 shadow-sm overflow-hidden mb-4">
                        <div class="row g-0">
                        <%= link_to image_tag(f.post.generated_card.url, size: "300x200"), post_path(f.post), class: "col-sm-4 bg-repeat-0 bg-position-center bg-size-cover", alt: "Image" %>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <div class="fs-sm text-muted mb-1"><%= f.post.created_at.strftime('%Y年%m月%d日 %H:%M') %></div>
                                    <h5 class="h4 pb-1 mb-2">
                                    <a href="#"><%= f.post.title %>、探してます</a>
                                    </h5>
                                    <p class="mb-4 mb-lg-5"><%= f.post.description %></p>
                                    <div class="d-flex">
                                    <button type="button" class="btn btn-outline-primary px-3 px-lg-4 me-3">
                                        <i class="bx bx-edit fs-xl me-xl-2"></i>
                                        <span>$ <%= f.post.prize_money %></span>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger px-3 px-lg-4 me-3">
                                        <i class="bi bi-heart-fill"><%= f.post.favorites.count %></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-success px-3 px-lg-4 me-3">
                                        <i class="bi bi-chat-left-text-fill"><%=f.post.messages.count%></i>
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <%= paginate @favorite_posts %>
        </div>
    </div>
</section>
</div>