<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm justify-content-center"> 
    <%= link_to raw("<i class='bi bi-caret-left-fill'></i>"), url_for(page: current_page.number - 1), class: 'page-link', rel: 'prev', remote: remote unless current_page.first? %>
    <li class="page-item disabled d-sm-none">
      <span class="page-link text-body"><%= current_page %> / <%= total_pages %></span>
    </li>
    <% page_numbers = (current_page.number-1..current_page.number+1).to_a %>
    <% paginator.each_page do |page| %>
      <% if page_numbers.include?(page.number) %>
        <% if page.current? %>
          <li class="page-item active d-none d-sm-block" aria-current="page">
            <span class="page-link">
              <%= page.number %>
              <span class="visually-hidden">(current)</span>
            </span>
          </li>
        <% else %>
          <li class="page-item d-none d-sm-block">
            <%= link_to page.number, url_for(page: page.number), class: 'page-link', remote: remote %>
          </li>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to raw("<i class='bi bi-caret-right-fill'></i>"), url_for(page: current_page.number + 1), class: 'page-link', rel: 'next', remote: remote unless current_page.last? %>
  </ul>
</nav>