<!-- Page content -->
<section class="jarallax position-relative d-flex align-items-center min-vh-100 bg-light mb-5 py-lg-5 pt-5" style="background-image: url(<%= asset_path('enviroment/background.png') %>);background-size: cover; background-position: center;" >
  <!-- Sign in form -->
  <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
    <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
      <% breadcrumb :user_sign_in %>
      <%= breadcrumbs separator: " > " %>
      <h1 class="text-center text-xl-start"><%= (t 'defaults.login') %></h1>
      <p class="text-center text-xl-start pb-3 mb-3">パスワードを忘れた方は<%= link_to "こちら", new_user_password_path %></p>
      <%= form_with model: @user,url: user_session_path, html: {class: 'needs-validation mb-2', novalidate: true} do |f| %>
        <div class="position-relative mb-4">
          <%= f.label :email, (t 'users.email'),class: 'form-label fs-base' %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control form-control-lg', placeholder: (t 'users.email'), required: true %>
          <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid email address!</div>
          </div>
          <div class="mb-4">
            <%= f.label :password, (t 'users.password'),class: 'form-label fs-base' %>
            <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control form-control-lg', placeholder: (t 'users.password'), required: true %>
          </div>
            <%= f.submit (t 'defaults.login'), class: 'btn btn-primary shadow-primary btn-lg w-100' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
