
<div style="background-image: url(<%= asset_path('enviroment/backboard.png') %>);background-size: cover; background-position: center;">
<section class="container py-5 mt-5 mt-md-4 mb-md-3 mb-lg-4 mb-xl-5">
    <div class="row align-items-center align-items-lg-stretch mb-2 mb-sm-3">
        <!-- Parallax gfx -->
        <div class="col-xl-7 col-md-6 d-flex justify-content-center justify-content-md-end overflow-hidden order-md-2 mt-n5 mt-sm-n4 mt-md-0">
            <div class="position-relative mt-5" style="max-width: 660px;">
                <div class="parallax zindex-2">
                    <div class="parallax-layer zindex-2 mb-n3 card card-hover" data-depth="0.1">
                        <%= image_tag @post.generated_card.url %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Text -->
        <div class="col-xl-5 col-md-6 d-flex flex-column order-md-1">
            <% breadcrumb :post_show, @post %>
            <%= breadcrumbs separator: " > " %>
            <div class="text-center text-md-start pt-4 pt-sm-5 pt-xl-0 mt-2 mt-sm-0 mt-lg-auto">
                <h1 class="display-3 mb-4"><%= @post.title %> 、<br>探してます</h1>
                <h6 class="mb-1">作成者</h6>
                <a href="#" class="fw-semibold"><%= @post.user.username %></a>
                <span class="d-block mb-3"><%= @post.created_at.strftime('%Y年%m月%d日 %H:%M') %></span>
                <% if current_user && current_user.own?(@post) %>
                    <%= link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか?" }, class: "btn btn-lg btn-inline-block btn-warning me-2 mb-2" %>
                <% end %>
                <h6>Share & いいね！</h6>
                <div class="d-flex align-items-center">
                    <a href="https://twitter.com/share?url=<%= request.original_url %>&text=<%= @post.title %>、探してます" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                <% if user_signed_in? %>
                    <%= turbo_frame_tag "favorite_#{@post.id}" do %>
                        <%= render 'favorites/favorite', post: @post %>
                    <% end %>
                <% end %>
                </div>
            </div>
            <!-- Chat window -->
            <% if user_signed_in? %>
                <h1>Chat room</h1>
                <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden white-background">
                    <div class="col-lg-12" style="max-height: 712px; min-height: 712px;">
                        <div class="card h-100 border-0 bg-transparent pb-3">
                        <!-- Messages -->
                        <div class="card-body swiper scrollbar-hover overflow-hidden w-100 pb-0" data-swiper-options='{
                            "direction": "vertical",
                            "slidesPerView": "auto",
                            "freeMode": true,
                            "scrollbar": {
                            "el": ".swiper-scrollbar"
                            },
                            "mousewheel": true
                        }'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide h-auto">
                                    <!-- User message -->
                                    <div data-post-id="<%= @post.id %>" id="messages">
                                        <%= render partial: 'messages/message', collection: @messages, as: :message %>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-scrollbar end-0"></div>
                        </div>

                        <!-- Footer (Send message form) -->
                        <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
                            <div class="input-group">
                                <input type="text" data-behavior="post_speaker" id="post_input" class="form-control form-control-lg" style="padding-right: 85px;">
                                <button id="submit_button" class="btn btn-primary btn-icon btn-lg d-sm-inline-flex ms-1">
                                <i class="bi bi-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <% if current_user && current_user.own?(@post) %>
            <h1>懸賞金を支払う</h1>
            <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden white-background-2">
                <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden">
                    <div class="col-lg-12" style="max-height: 712px;">
                        <div class="card h-50 border-0 bg-transparent pb-3">
                            <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
                                <div class="position-relative w-100 me-2 mb-3 mb-sm-0">
                                    <p>チャットをくれた人に懸賞金を贈ろう！！！その人の名前を入れてね！</p>

                                    <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_user_username_posts_path %>">
                                        <%= form_with url: search_users_path, class: "needs-validation", method: :get do |f| %>
                                            <%= f.label :username, 'ユーザー名', class: "form-label" %>
                                            <div class="autocomplete" data-autocomplete="container">
                                                <%= f.text_field :username , class: "form-control rounded-start ps-5" ,required: true, 'data-autocomplete-target': 'input' %>
                                                <input type="hidden" name="user_id" data-autocomplete-target="hidden"/>
                                                <%= hidden_field_tag :post_id, @post.id %>
                                                <ul class="autocomplete-results list-group" data-autocomplete-target="results" data-autocomplete="results"></ul>
                                            </div>
                                            <%= f.submit '検索', class: "btn btn-primary" %>
                                        <% end %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div style="height: 50px;"></div>
</section>
</div>



<script>
    document.addEventListener("turbo:load", function() {
        window.swiper = new Swiper('.swiper', {
            direction: 'vertical',
            slidesPerView: 'auto',
            freeMode: true,
            scrollbar: {
            el: '.swiper-scrollbar',
            },
            mousewheel: true,
        });

        setTimeout(function() {
            window.swiper.update();
            const swiperContainer = document.querySelector('.swiper');
            if (swiperContainer) {
                swiperContainer.scrollTop = swiperContainer.scrollHeight;
            }
        }, 100);
    });
</script>