<!-- Breadcrumb -->
<nav class="container pt-4 mt-lg-3" aria-label="breadcrumb">
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
    <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item">
    <a href="blog-list-with-sidebar.html">Blog</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Single Post</li>
</ol> 
</nav>


<!-- Post title + Meta  -->
<section class="container mt-4 pt-lg-2 pb-3">
    <h1 class="pb-3" style="max-width: 970px;"><%= @post.title %> 、探してます</h1>
    <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
        <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
            <div class="fs-xs border-end pe-3 me-3 mb-2">
                <span class="badge bg-faded-primary text-primary fs-base">手配書</span>
            </div>
        </div>
        <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
            <div class="ps-3">
                <h6 class="mb-1">作成者</h6>
                <a href="#" class="fw-semibold stretched-link"><%= @post.user.username %></a>
            </div>
        </div>
    </div>
</section>


<!-- Post image (parallax) -->

<div class="jarallax d-flex justify-content-center align-items-center">
  <%= image_tag @post.generated_card.url %>
</div>

<!-- Post content + Sharing -->
<section class="container mb-5 pt-4 pb-2 py-mg-4">
    <div class="row gy-4">

    <!-- Sharing -->
        <div class="col-lg-3 position-relative">
            <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important;">
                <span class="d-block mb-3"><%= @post.created_at.strftime('%Y年%m月%d日 %H:%M') %></span>
                <h6>Share this post:</h6>
                <div class="mb-4 pb-lg-3">
                    <a href="https://twitter.com/share?url=<%= request.original_url %>&text=<%= @post.title %>" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                </div>
                    <% if current_user && current_user.own?(@post) %>
                        <button class="btn btn-lg btn-outline-secondary">
                        <%= link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか?" } %>
                        </button>
                    <% end %>
            </div>
        </div>
    </div>
</section>

<!-- Comment form + Subscription -->
<section class="container mb-4 pb-2 mb-md-5 pb-lg-5">
    <div class="row gy-5"> 
        <section class="container pt-5">
            <div class="row">

                <!-- Account messages -->
                <div class="col-md-8 col-lg-6 pb-5 mb-lg-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
                    <div class="ps-md-3 mt-md-2 pt-md-4 pb-md-2">
                        <div class="row g-0 border rounded-3 shadow-sm position-relative overflow-hidden">

                        <!-- Chat window -->
                        <div class="col-lg-12" style="max-height: 712px;">
                            <div class="card h-100 border-0 bg-transparent pb-3">

                            <!-- Messages -->
                            <div class="card-body swiper scrollbar-hover overflow-hidden w-100 pb-0" data-swiper-options='{
                                "direction": "vertical",
                                "slidesPerView": "auto",
                                "freeMode": true,
                                "scrollbar": {
                                "el": ".swiper-scrollbar"
                                },
                                "mousewheel": true
                            }'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide h-auto">
                                        <div class="fs-sm text-muted text-center mb-3"><%= @post.title %>、探してます</div>

                                        <!-- User message -->
                                        <h1>Chat room</h1>
                                        <div data-post-id="<%= @post.id %>" id="messages">
                                            <%= render partial: 'messages/message', collection: @messages, as: :message %>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar end-0"></div>
                            </div>

                            <!-- Footer (Send message form) -->
                            <div class="card-footer d-sm-flex w-100 border-0 pt-3 pb-3 px-4">
                                <div class="position-relative w-100 me-2 mb-3 mb-sm-0">
                                    <input type="text" data-behavior="post_speaker" id="post_input" class="form-control form-control-lg" style="padding-right: 85px;">
                                </div>
                                <button id="submit_button" class="btn btn-primary btn-icon btn-lg d-sm-inline-flex ms-1">
                                <i class="bx bx-send"></i>
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<div style="height: 100px;"></div>
    <div class="container pt-lg-4">
        <div class="row pb-5">
            <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
                <img src="assets/img/logo.svg" width="47" alt="Silicon">
                懸賞金を支払う
            </div>
            <p class="fs-sm pb-lg-3 mb-4">チャットをくれた人に懸賞金を贈ろう！！！その人の名前を入れてね！</p>
            <%= form_with url: search_users_path, class: "needs-validation", method: :get do |f| %>
                <%= f.label :username, 'ユーザー名', class: "form-label" %>
                <div class="input-group">
                <%= f.text_field :username , class: "form-control rounded-start ps-5",  placeholder:"あきら" ,required: true %>
                <%= hidden_field_tag :post_id, @post.id %>
                <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
                <%= f.submit '検索', class: "btn btn-primary" %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>

<script>
window.onload = function() {
    window.swiper = new Swiper('.swiper', {
        direction: 'vertical',
        slidesPerView: 'auto',
        freeMode: true,
        scrollbar: {
        el: '.swiper-scrollbar',
        },
        mousewheel: true,
    });

    setTimeout(function() {
        window.swiper.update();
        const swiperContainer = document.querySelector('.swiper');
        if (swiperContainer) {
            swiperContainer.scrollTop = swiperContainer.scrollHeight;
        }
    }, 100);
};
</script>
