<!DOCTYPE html>
<html>
  <head>
    <title>Selfserch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags(@post)) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZCRC2K1SY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RZCRC2K1SY');
    </script>
  </head>
  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    <main class="page-wrapper">
      <%= render 'shared/header' %>
      <%= render 'shared/flash_messages' %>

    <!-- Breadcrumb -->
    <nav class="pt-lg-4 pb-3 mb-2 mb-sm-3" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <% breadcrumbs do |name, url, styles| %>
          <% if url.blank? %>
            <li class="breadcrumb-item active" aria-current="page">
              <%= name %>
            </li>
          <% else %>
            <li class="breadcrumb-item">
              <%= link_to name, url %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </nav>

      <%= yield %>
    </main>
      <%= render 'shared/footer' %>
      
  </body>
</html>
